<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated party -->
      <package
            uri="ecore://nasdanika.org/models/party"
            class="org.nasdanika.models.party.PartyPackage"
            genModel="model/party.genmodel"/>
   </extension>

</plugin>
